// app global css in SASS form
.w-target__suggestion
  position: absolute
  color: $orange
  text-transform: uppercase
  font-size: 14px
  font-weight: bold
  line-height: 1.2em
  width: 1.2em
  height: 1.2em

  &:nth-child(1)
    left: 2px
    top: 2px

  &:nth-child(2)
    right: 2px
    top: 2px

  &:nth-child(3)
    left: 2px
    bottom: 2px

  &:nth-child(4)
    right: 2px
    bottom: 2px

